<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.seckilldemo.mapper.GoodsMapper">

    <select id="findGoodsVo" resultType="com.zzp.seckilldemo.vo.GoodsVo">
        SELECT g.*, sg.seckill_price, sg.stock_count, sg.start_date, sg.end_date
        FROM t_goods g
                 LEFT JOIN t_seckill_goods sg
                           ON g.id = sg.goods_id
    </select>

    <!--获取商品详情-->
    <select id="findGoodsVoById" resultType="com.zzp.seckilldemo.vo.GoodsVo">
        SELECT g.*, sg.seckill_price, sg.stock_count, sg.start_date, sg.end_date
        FROM t_goods g
                 LEFT JOIN t_seckill_goods sg
                           ON g.id = sg.goods_id
        where g.id = #{goodsId}
    </select>
</mapper>
